.toDoContainer {
  width: 400px;
  background-color: #6ca5a2;
  padding: 20px;
  margin: 0 auto;
}

.titleWrapper {
    text-align: center;
    background-color: #819893;
}
.title {
  color: #fff;
}

.textInput {
  width: 50%;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #c2c2c2;
  outline: none;
}

.addButton {
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #819893;
  color: #fff;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border: 1px solid #fff;
}

.removeButton {
  padding : 5px 15px;
  border-radius: 3px;
  background-color: #bb7c82;
  color: #fff;
  font-weight: bold;
}

.listText {
  padding-left: 0;
}

.textItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #fff;
}
